html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

@font-face {
  font-family: "Roboto-Black";
  src: url("/assets/fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("/assets/fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("/assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("/assets/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Italic";
  src: url("/assets/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Light";
  src: url("/assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-LightItalic";
  src: url("/assets/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Medium";
  src: url("/assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("/assets/fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Thin";
  src: url("/assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("/assets/fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.submit-btn-not-valid {
  cursor: not-allowed !important; }

.modal-form:not(.modal-form_active) {
  display: none !important; }

.modal-form_active {
  display: block; }

.modal-form__cls-bgr {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.header__left__title,
.header__manager__wrap__title {
  cursor: pointer;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear; }
  .header__left__title:hover,
  .header__manager__wrap__title:hover {
    color: #6FA9F4; }

.aside {
  height: 100vh;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 101; }
  @media (min-width: 1025px) {
    .aside {
      width: 72px;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
      padding-top: 55px;
      z-index: 101; } }
  @media (max-width: 1024px) {
    .aside {
      width: 270px;
      padding-top: 45px;
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
      -webkit-transition: .2s linear;
      -o-transition: .2s linear;
      transition: .2s linear; }
      .aside_active {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0); }
        .aside_active .cls-btn {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; } }

.cls-btn {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: none; }
  .cls-btn__text {
    font: 15px 'Roboto-Regular', sans-serif;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-writing-mode: tb;
        -ms-writing-mode: tb;
            writing-mode: tb;
    will-change: transform;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 20px;
    background: url("/assets/img/aside/cls-btn.svg") 50% 0 no-repeat;
    -webkit-background-size: 10px 10px;
            background-size: 10px;
    margin: 20px 0 0 15px; }

.logo {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-background-size: 100% 100%;
          background-size: 100%; }
  @media (min-width: 1025px) {
    .logo {
      width: 42px;
      height: 34px;
      background: url("/assets/img/aside/logo.svg") no-repeat; } }
  @media (max-width: 1024px) {
    .logo {
      width: 100px;
      height: 35px;
      background: url("/assets/img/aside/full-logo.svg") no-repeat; } }

.nav {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  @media (min-width: 1025px) {
    .nav {
      height: -webkit-calc(100% - 74px);
      height: calc(100% - 74px); } }
  @media (max-width: 1024px) {
    .nav {
      height: -webkit-calc(100% - 70px);
      height: calc(100% - 70px); } }
  .nav__item_sales:before {
    background: url("/assets/img/aside/sales.svg") 50% no-repeat; }
    @media (min-width: 1025px) {
      .nav__item_sales:before {
        width: 28px;
        height: 18px; } }
    @media (max-width: 1024px) {
      .nav__item_sales:before {
        width: 20px;
        height: 13px; } }
  @media (min-width: 1025px) {
    .nav__item_sales:hover:before {
      background: url("/assets/img/aside/sales-active.svg") 50% no-repeat; } }
  .nav__item_sales.nav__item_active:before {
    background: url("/assets/img/aside/sales-active.svg") 50% no-repeat; }
  .nav__item_structure:before {
    background: url("/assets/img/aside/structure.svg") 50% no-repeat; }
    @media (min-width: 1025px) {
      .nav__item_structure:before {
        width: 26px;
        height: 23px; } }
    @media (max-width: 1024px) {
      .nav__item_structure:before {
        width: 18px;
        height: 16px; } }
  @media (min-width: 1025px) {
    .nav__item_structure:hover:before {
      background: url("/assets/img/aside/structure-active.svg") 50% no-repeat; } }
  .nav__item_structure.nav__item_active:before {
    background: url("/assets/img/aside/structure-active.svg") 50% no-repeat; }
  .nav__item_romb:before {
    background: url("/assets/img/aside/romb.svg") 50% no-repeat; }
    @media (min-width: 1025px) {
      .nav__item_romb:before {
        width: 26px;
        height: 26px; } }
    @media (max-width: 1024px) {
      .nav__item_romb:before {
        width: 18px;
        height: 16px; } }
  @media (min-width: 1025px) {
    .nav__item_romb:hover:before {
      background: url("/assets/img/aside/romb-active.svg") 50% no-repeat; } }
  .nav__item_romb.nav__item_active:before {
    background: url("/assets/img/aside/romb-active.svg") 50% no-repeat; }
  .nav__item_log-out:before {
    background: url("/assets/img/aside/log-out.svg") 50% no-repeat; }
    @media (min-width: 1025px) {
      .nav__item_log-out:before {
        width: 21px;
        height: 25px; } }
    @media (max-width: 1024px) {
      .nav__item_log-out:before {
        width: 15px;
        height: 18px; } }
  @media (min-width: 1025px) {
    .nav__item_log-out:hover:before {
      background: url("/assets/img/aside/log-out-active.svg") 50% no-repeat; } }
  .nav__item_log-out.nav__item_active:before {
    background: url("/assets/img/aside/log-out-active.svg") 50% no-repeat; }
  .nav__item {
    width: 100%;
    cursor: pointer;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear; }
    @media (min-width: 1025px) {
      .nav__item {
        height: 50px; }
        .nav__item:before {
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto; } }
    @media (max-width: 1024px) {
      .nav__item {
        height: 34px; }
        .nav__item:before {
          top: 0;
          left: 28px;
          bottom: 0;
          margin: auto 0; }
        .nav__item_active .nav__item-tooltip {
          color: #ffffff; } }
    .nav__item_active {
      background: #F16222; }
    .nav__item:not(.nav__item_log-out) {
      position: relative; }
    @media (min-width: 1025px) {
      .nav__item:hover {
        background: #F16222; }
        .nav__item:hover .nav__item-tooltip {
          -webkit-transform: translateX(0);
              -ms-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1; } }
    .nav__item_log-out {
      position: absolute;
      left: 0;
      bottom: 20px; }
    .nav__item:before {
      content: '';
      position: absolute;
      -webkit-background-size: 100% 100% !important;
              background-size: 100% !important; }
    .nav__item-tooltip {
      height: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      bottom: 0;
      margin: auto 0;
      white-space: nowrap;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: opacity .2s linear;
      -o-transition: opacity .2s linear;
      transition: opacity .2s linear; }
      @media (min-width: 1025px) {
        .nav__item-tooltip {
          padding: 0 18px;
          position: absolute;
          left: -webkit-calc(100% + 20px);
          left: calc(100% + 20px);
          top: 0;
          -webkit-transform: translateX(-300%);
              -ms-transform: translateX(-300%);
                  transform: translateX(-300%);
          opacity: 0;
          background: #F16222;
          font: 16px 'Roboto-Regular', sans-serif;
          color: #ffffff; }
          .nav__item-tooltip:before {
            content: '';
            width: 13px;
            height: 13px;
            background: inherit;
            -webkit-border-radius: 0 0 0 4px;
                    border-radius: 0 0 0 4px;
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
            position: absolute;
            left: -6px;
            top: 0;
            bottom: 0;
            margin: auto 0; } }
      @media (max-width: 1024px) {
        .nav__item-tooltip {
          padding-left: 62px;
          font: 15px 'Roboto-Regular', sans-serif;
          color: #323232; } }

.centr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.header_controlls {
  position: relative;
  margin: 16px 0 0 96px; }
  .header_controlls .radio-btn-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header_controlls .radio-btn-group .filtration__item-wrapper {
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      @media (min-width: 1025px) {
        .header_controlls .radio-btn-group .filtration__item-wrapper {
          border-right: 1px solid #dedede; }
          .header_controlls .radio-btn-group .filtration__item-wrapper:first-of-type .filtration__item-visualization {
            -webkit-border-radius: 4px 0 0 4px;
                    border-radius: 4px 0 0 4px; }
          .header_controlls .radio-btn-group .filtration__item-wrapper:last-of-type {
            border: none; }
            .header_controlls .radio-btn-group .filtration__item-wrapper:last-of-type .filtration__item-visualization {
              -webkit-border-radius: 0 4px 4px 0;
                      border-radius: 0 4px 4px 0; } }
      .header_controlls .radio-btn-group .filtration__item-wrapper .filtration__item-btn {
        display: none; }
        .header_controlls .radio-btn-group .filtration__item-wrapper .filtration__item-btn:checked + .filtration__item-visualization {
          background: #F16222;
          color: #ffffff; }
      .header_controlls .radio-btn-group .filtration__item-wrapper .filtration__item-visualization {
        background: #ffffff;
        height: 34px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer;
        font: 14px 'Roboto-Regular', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 0 10px;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        -webkit-transition: .2s linear;
        -o-transition: .2s linear;
        transition: .2s linear;
        white-space: nowrap; }
        @media (min-width: 1025px) {
          .header_controlls .radio-btn-group .filtration__item-wrapper .filtration__item-visualization:hover {
            background: #FAFAFA; } }
        @media (max-width: 1024px) {
          .header_controlls .radio-btn-group .filtration__item-wrapper .filtration__item-visualization {
            margin: 0 5px 5px 0;
            -webkit-border-radius: 4px;
                    border-radius: 4px;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
                    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1); } }
  .header_controlls .calendar__btn {
    height: 34px;
    padding: 0 10px 0 35px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font: 14px 'Roboto-Regular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 10;
    background: #fff;
    margin-left: 16px; }
    .header_controlls .calendar__btn:before {
      content: '';
      background: url("/assets/img/calendar/calendar.svg") no-repeat center center;
      -webkit-background-size: 15px 11px;
              background-size: 15px 11px;
      background-color: inherit;
      height: 20px;
      width: 20px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 10px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
  .header_controlls .calendar__btn-val {
    margin: 0 5px; }
  .header_controlls .window-select {
    font: 14px 'Roboto-Regular', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background: #ffffff;
    height: 34px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 25px 0 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    will-change: transform;
    white-space: nowrap;
    margin-left: 16px; }
    .header_controlls .window-select:before {
      content: '';
      width: 10px;
      height: 5px;
      background: url("/assets/img/select/arrow.svg") no-repeat;
      -webkit-background-size: 100% 100%;
              background-size: 100%;
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
    @media (min-width: 1025px) {
      .header_controlls .window-select:hover {
        background: #FAFAFA; } }
    @media (max-width: 1024px) {
      .header_controlls .window-select {
        width: 100%;
        margin-bottom: 12px; } }

.departments {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 110;
  background: rgba(0, 0, 0, 0.24);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .departments__content {
    width: 400px;
    height: 100%;
    background: #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 28px;
    overflow: hidden;
    position: relative;
    z-index: 10; }
  .departments__close-bgr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; }

.departments-list {
  width: 420px;
  max-height: -webkit-calc(100vh - 72px - 66px);
  max-height: calc(100vh - 72px - 66px);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative; }

.departments-list__item {
  position: relative; }
  .departments-list__item .departments-list__item_close-list {
    position: absolute;
    height: 50px;
    width: 30px;
    background: url("/assets/img/select/arrow.svg") no-repeat center center;
    -webkit-background-size: 12px 12px;
            background-size: 12px 12px;
    background-position: -webkit-calc(100% - 10px) center;
    background-position: calc(100% - 10px) center;
    z-index: 10;
    left: 0;
    top: 0;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .departments-list__item .departments-list__item_close-list:not(.departments-list__item_close-list--clicked) {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg); }
  .departments-list__item.departments-list__item--has-child > .departments-checkbox_title:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 8px;
    pointer-events: none;
    z-index: 10;
    opacity: .6;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)); }

.search {
  width: 400px;
  position: relative;
  height: 72px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .search:before {
    content: '';
    width: 13px;
    height: 13px;
    background: url("/assets/img/search/search.svg") no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    position: absolute;
    top: 30px;
    left: 32px; }
  .search__field {
    width: 368px;
    height: 40px;
    font: 14px 'Roboto-Regular', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    outline: none;
    background: #F3F3F3;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 15px 0 35px;
    border: 1px solid #F3F3F3;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear; }
    .search__field:focus {
      background: #ffffff;
      border-color: #E1E1E1; }
      .search__field:focus::-webkit-input-placeholder {
        color: transparent; }
      .search__field:focus::-moz-placeholder {
        color: transparent; }
      .search__field:focus:-moz-placeholder {
        color: transparent; }
      .search__field:focus:-ms-input-placeholder {
        color: transparent; }

.select_value {
  font: 14px 'Roboto-Regular', sans-serif;
  color: #323232;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-calc(100% - 34px);
  width: calc(100% - 34px);
  padding: 0 30px 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  height: 34px;
  background: #fafafa;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin: 0 17px 15px 17px;
  position: relative; }
  @media (min-width: 1025px) {
    .select_value:hover:not(.select_disabled) {
      background: #FAFAFA; } }

.select_checked {
  width: 100%;
  margin: 0;
  height: 50px;
  background: #fff;
  padding: 0 30px 0 30px;
  font: 14px 'Roboto-Bold', sans-serif;
  -webkit-border-radius: 0;
          border-radius: 0; }

.select_list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  overflow: hidden;
  background: #ffffff;
  width: 100%; }
  .select_list.select_open-list {
    display: block; }
  @media (min-width: 1025px) {
    .select_list {
      position: absolute;
      top: -webkit-calc(100% + 10px);
      top: calc(100% + 10px);
      left: 0; } }
  @media (max-width: 1024px) {
    .select_list {
      margin-top: 10px;
      width: 100%; } }
  .select_list-item {
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
    font: 14px 'Roboto-Regular', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    border-bottom: 1px solid #E7E7E7; }
    .select_list-item:last-of-type {
      border: none; }
    .select_list-item--active {
      background: #FAFAFA; }
    @media (min-width: 1025px) {
      .select_list-item:hover:not(.select_list-item--active) {
        color: #F16222; } }

.select_disabled {
  background: #E7E7E7;
  color: #ACACAC;
  cursor: default; }

.select_marker {
  width: 10px;
  height: 5px;
  background: url("/assets/img/select/arrow.svg") no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  position: absolute;
  right: 10px;
  top: 15px;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg); }
  .select_marker.select_open-marker {
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0); }

.select_checked_marker {
  top: 23px;
  left: 15px; }

.select_checked_input {
  top: 16px;
  right: 30px;
  position: absolute;
  display: none; }
  .select_checked_input:checked + .input__background {
    background: #E98020;
    border: 1px solid #ffff; }

.input__background {
  top: 14px;
  right: 15px;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #ACACAC;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #fff;
  -webkit-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear; }
  .input__background__tick {
    position: relative;
    top: 5px;
    left: 4px; }

.departments-checkbox {
  background: #ffffff !important;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear; }
  .departments-checkbox.checkbox-dont-touch {
    pointer-events: none; }
  .departments-checkbox:hover {
    background: #f3f1f1 !important; }
  .departments-checkbox:not(.departments-checkbox_title) {
    padding-left: 45px !important; }
  .departments-checkbox__content:checked + .departments-checkbox__visualization:not(.checkbox__visualisation--all):not(.checkbox__visualisation--not-all) {
    background: #F97439 !important;
    border-color: #F97439 !important; }
  .departments-checkbox__content:checked + .departments-checkbox__visualization.checkbox__visualisation--all {
    background: #F97439 !important;
    border-color: #F97439 !important; }
  .departments-checkbox__content:checked + .departments-checkbox__visualization.checkbox__visualisation--not-all {
    background: #e4a68b !important;
    border-color: #e4a68b !important; }
  .departments-checkbox__visualization {
    margin: 0 !important; }
  .departments-checkbox__circle {
    background: #F97439 !important; }

.department-controls {
  background: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-border-radius: 8px 8px 0 0 !important;
          border-radius: 8px 8px 0 0 !important;
  -webkit-box-pack: end !important;
  -webkit-justify-content: flex-end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  z-index: 10; }

.controls__btn_default {
  margin-right: 10px !important; }

.sort-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 16px 6px;
  border-bottom: 1px solid #E1E1E1; }
  .sort-btns__item {
    -webkit-border-radius: 100px;
            border-radius: 100px;
    height: 30px;
    font: 14px 'Roboto-Regular', sans-serif;
    cursor: pointer;
    margin-bottom: 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow: hidden;
    position: relative; }
    .sort-btns__item-label {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-border-radius: inherit;
              border-radius: inherit; }
      .sort-btns__item-label-field {
        display: none; }
        .sort-btns__item-label-field:checked + .sort-btns__item-label-mark {
          color: #fff;
          background: #F97439; }
      .sort-btns__item-label-mark {
        height: 100%;
        width: 100%;
        padding: 0 8px;
        border: 1px solid #E1E1E1;
        color: #323232;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-border-radius: inherit;
                border-radius: inherit;
        cursor: pointer; }
    .sort-btns__item:not(:last-of-type) {
      margin-right: 7px; }

.controls {
  width: 100%;
  height: 66px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 18px;
  -webkit-box-shadow: -1px 0 6px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 0 6px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .controls__btn {
    height: 34px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
    font: 14px 'Roboto-Regular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    cursor: pointer;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear; }
    .controls__btn_ready {
      background: #F16222;
      color: #ffffff; }
      .controls__btn_ready:hover {
        background: #DB5B22; }
    .controls__btn_default {
      color: #777777; }
      .controls__btn_default:hover {
        background: #F6F6F6; }

.snippet-left {
  width: 337px;
  height: 461px;
  background: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 22px 0 0 96px; }
  .snippet-left__capacity {
    padding: 20px;
    border-bottom: 1px solid #f3f3f3; }
    .snippet-left__capacity__indicator {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: #0DCE94;
      display: inline-block; }
    .snippet-left__capacity__speed {
      font: 14px/16px 'Roboto-Regular', sans-serif;
      margin-left: 8px; }
    .snippet-left__capacity__rate {
      font: 14px/16px 'Roboto-Regular', sans-serif;
      color: rgba(50, 50, 50, 0.6);
      margin-left: 8px; }
  .snippet-left__product {
    padding: 20px;
    border-bottom: 1px solid #f3f3f3; }
    .snippet-left__product__procent {
      font: 14px/16px 'Roboto-Regular', sans-serif;
      margin-top: 8px; }
    .snippet-left__product__address {
      font: 14px/16px 'Roboto-Regular', sans-serif;
      color: rgba(50, 50, 50, 0.6);
      margin: 8px 0 0 0; }
  .snippet-left__title {
    font: 13px/15px 'Roboto-Regular', sans-serif;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
    width: 138px; }
  .snippet-left__wrapper {
    margin-left: 20px; }
  .snippet-left__delivery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 20px 20px 0; }
    .snippet-left__delivery__time {
      font: 14px/16px 'Roboto-Regular', sans-serif;
      color: rgba(50, 50, 50, 0.6); }
  .snippet-left__wrap-speed {
    padding: 8px 0 20px 0;
    border-top: 1px solid #f3f3f3; }
  .snippet-left .delivery {
    padding: 12px 0 0 0; }

.schedule {
  width: -webkit-calc(100% - 470px);
  width: calc(100% - 470px);
  background: #fff;
  margin: 22px 0 0 15px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1); }
  .schedule__img {
    width: 487px;
    height: 401px;
    background: url("/assets/img/schedule/schedule.svg") 50% no-repeat;
    position: relative;
    margin-top: 28px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .schedule__buttons {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 25px 0 33px 0; }
    .schedule__buttons__input {
      display: none; }
      .schedule__buttons__input:checked + .schedule__buttons__item {
        border: 1px solid #F16222;
        background: #FFD6C3; }
    .schedule__buttons__item {
      height: 34px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      border: 1px solid #e7e7e7;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      margin: 0 3px;
      padding: 0 15px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      cursor: pointer; }
      .schedule__buttons__item-indicator {
        width: 10px;
        height: 10px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        border: 2px solid #fff;
        background: #F16222;
        margin-right: 5px; }
      .schedule__buttons__item-text {
        font: 14px/16px 'Roboto-Regular', sans-serif; }

.table-product {
  width: -webkit-calc(100% - 118px);
  width: calc(100% - 118px);
  margin: 18px 0 37px 96px;
  background: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .table-product__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #f3f3f3;
    height: 52px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .table-product__header__input {
      display: none; }
      .table-product__header__input:checked + .table-product__header__item {
        color: #E98020; }
        .table-product__header__input:checked + .table-product__header__item:after {
          background: url("/assets/img/table-product/filter-active.svg") no-repeat; }
    .table-product__header__item {
      font: 14px/16px 'Roboto-Regular', sans-serif;
      color: rgba(50, 50, 50, 0.6);
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer; }
      .table-product__header__item.item-1:after {
        display: none; }
      .table-product__header__item:after {
        content: '';
        width: 12px;
        height: 7px;
        position: relative;
        background: url("/assets/img/table-product/filter.svg") no-repeat;
        margin-left: 2px; }
    .table-product__header .city {
      width: 161px;
      margin-left: 46px; }
    .table-product__header .productivity {
      width: 153px; }
    .table-product__header .product {
      width: 120px; }
    .table-product__header .service {
      width: 120px; }
    .table-product__header .delivery {
      width: 150px; }
    .table-product__header .desk {
      width: 150px;
      margin-right: 10px; }
  .table-product__list {
    width: 100%; }
    .table-product__list__item {
      width: 100%;
      height: 76px;
      border-bottom: 1px solid #f3f3f3;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      position: relative; }
    .table-product__list__label {
      width: 46px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .table-product__list__input {
      display: none; }
      .table-product__list__input:checked + .table-product__list__wrap .table-product__list__border {
        background: #E18A23; }
      .table-product__list__input:checked + .table-product__list__wrap .table-product__list__checked {
        background: #E18A23;
        border: 1px solid #fff; }
    .table-product__list__wrap {
      width: 100%;
      height: 100%;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .table-product__list__border {
      height: 100%;
      width: 7px;
      position: absolute;
      left: 0;
      top: 0;
      background: #fff; }
    .table-product__list__checked {
      width: 18px;
      height: 18px;
      border: 1px solid #dedede;
      cursor: pointer;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      background: #fff; }
    .table-product__list__text {
      width: 161px;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font: 14px/16px 'Roboto-Regular', sans-serif;
      margin-left: 46px; }
    .table-product__list .productivity {
      width: 153px; }
    .table-product__list .product {
      width: 120px; }
    .table-product__list .service {
      width: 120px; }
    .table-product__list .delivery {
      width: 150px; }
    .table-product__list .desk {
      width: 150px;
      margin-right: 10px; }
    .table-product__list__wrapper-header {
      margin-top: 15px; }
    .table-product__list__wrapper-text {
      font: 14px/16px 'Roboto-Regular', sans-serif; }
    .table-product__list__wrapper-time {
      font: 14px/16px 'Roboto-Regular', sans-serif;
      color: rgba(50, 50, 50, 0.6); }
    .table-product__list__rate {
      font: 14px/16px 'Roboto-Regular', sans-serif;
      color: rgba(50, 50, 50, 0.6);
      margin-top: 5px; }
      .table-product__list__rate-m {
        margin-left: 16px; }
    .table-product__list__indicator {
      width: 10px;
      height: 10px;
      display: inline-block;
      background: #0DCE94;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin-right: 3px; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f3f3; }

.locked {
  overflow: hidden; }
