.submit-btn-not-valid {
    cursor: not-allowed !important;
}

.modal-form {
    
    &:not(.modal-form_active) {
        display: none !important;
    }

    &_active {
        display: block;
    }

    &__cls-bgr {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.header__left__title,
.header__manager__wrap__title {
    cursor: pointer;
    transition: color .2s linear;

    &:hover {
        color: #6FA9F4;
    }
}