$fonts: (
    Roboto-Black,
    Roboto-BlackItalic,
    Roboto-Bold,
    Roboto-BoldItalic,
    Roboto-Italic,
    Roboto-Light,
    Roboto-LightItalic,
    Roboto-Medium,
    Roboto-MediumItalic,
    Roboto-Regular,
    Roboto-Thin,
    Roboto-ThinItalic
);

@mixin fonts {
    @each $font in $fonts {

        @font-face {
            font-family: '#{$font}';
            src: url('/assets/fonts/Roboto/#{$font}.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
    }
}

@include fonts();
