@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
}

.aside {
    height: 100vh;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 101;

    @media(min-width: 1025px) {
        width: 72px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
        padding-top: 55px;
        z-index: 101;
    }

    @media(max-width: 1024px) {
        width: 270px;
        padding-top: 45px;
        transform: translateX(-100%);
        transition: .2s linear;

        &_active {
            transform: translateX(0);

            .cls-btn {
                display: flex;
            }
        }
    }
}

.cls-btn {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 100%;
    background: rgba(0, 0, 0, .5);
    justify-content: flex-start;
    align-items: flex-start;
    display: none;

    &__text {
        font: 15px 'Roboto-Regular', sans-serif;
        color: #ffffff;
        @include font-smoothing();
        writing-mode: tb;
        will-change: transform;
        transform: rotate(180deg);
        box-sizing: border-box;
        padding-top: 20px;
        background: url('/assets/img/aside/cls-btn.svg') 50% 0 no-repeat;
        background-size: 10px;
        margin: 20px 0 0 15px;
    }
}

.logo {
    align-self: center;
    background-size: 100%;

    @media(min-width: 1025px) {
        width: 42px;
        height: 34px;
        background: url('/assets/img/aside/logo.svg') no-repeat;
    }

    @media(max-width: 1024px) {
        width: 100px;
        height: 35px;
        background: url('/assets/img/aside/full-logo.svg') no-repeat;
    }
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    @media(min-width: 1025px) {
        height: calc(100% - 74px);
    }

    @media(max-width: 1024px) {
        height: calc(100% - 70px);
    }

    &__item_sales{
        &:before {
            background: url('/assets/img/aside/sales.svg') 50% no-repeat;

            @media(min-width: 1025px) {
                width: 28px;
                height: 18px;
            }

            @media(max-width: 1024px) {
                width: 20px;
                height: 13px;
            }
        }

        @media(min-width: 1025px) {

            &:hover {

                &:before {
                    background: url('/assets/img/aside/sales-active.svg') 50% no-repeat;
                }
            }
        }

        &.nav__item_active {

            &:before {
                background: url('/assets/img/aside/sales-active.svg') 50% no-repeat;
            }
        }
    }

    &__item_structure{
        &:before {
            background: url('/assets/img/aside/structure.svg') 50% no-repeat;

            @media(min-width: 1025px) {
                width: 26px;
                height: 23px;
            }

            @media(max-width: 1024px) {
                width: 18px;
                height: 16px;
            }
        }

        @media(min-width: 1025px) {

            &:hover {

                &:before {
                    background: url('/assets/img/aside/structure-active.svg') 50% no-repeat;
                }
            }
        }

        &.nav__item_active {

            &:before {
                background: url('/assets/img/aside/structure-active.svg') 50% no-repeat;
            }
        }
    }

    &__item_romb{
        &:before {
            background: url('/assets/img/aside/romb.svg') 50% no-repeat;

            @media(min-width: 1025px) {
                width: 26px;
                height: 26px;
            }

            @media(max-width: 1024px) {
                width: 18px;
                height: 16px;
            }
        }

        @media(min-width: 1025px) {

            &:hover {

                &:before {
                    background: url('/assets/img/aside/romb-active.svg') 50% no-repeat;
                }
            }
        }

        &.nav__item_active {

            &:before {
                background: url('/assets/img/aside/romb-active.svg') 50% no-repeat;
            }
        }
    }

    &__item_log-out{
        &:before {
            background: url('/assets/img/aside/log-out.svg') 50% no-repeat;

            @media(min-width: 1025px) {
                width: 21px;
                height: 25px;
            }

            @media(max-width: 1024px) {
                width: 15px;
                height: 18px;
            }
        }

        @media(min-width: 1025px) {

            &:hover {

                &:before {
                    background: url('/assets/img/aside/log-out-active.svg') 50% no-repeat;
                }
            }
        }

        &.nav__item_active {

            &:before {
                background: url('/assets/img/aside/log-out-active.svg') 50% no-repeat;
            }
        }
    }

    &__item {
        width: 100%;
        cursor: pointer;
        transition: .2s linear;

        @media(min-width: 1025px) {
            height: 50px;

            &:before {
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
            }
        }

        @media(max-width: 1024px) {
            height: 34px;

            &:before {
                top: 0;
                left: 28px;
                bottom: 0;
                margin: auto 0;
            }

            &_active {

                .nav__item-tooltip {
                    color: #ffffff;
                }
            }
        }

        &_active {
            background: #F16222;
        }

        &:not(.nav__item_log-out) {
            position: relative;
        }

        @media(min-width: 1025px) {

            &:hover {
                background: #F16222;

                .nav__item-tooltip {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }

        &_log-out {
            position: absolute;
            left: 0;
            bottom: 20px;
        }

        &:before {
            content: '';
            position: absolute;
            background-size: 100% !important;
        }

        &-tooltip {
            height: 100%;
            box-sizing: border-box;
            border-radius: 4px;
            @include font-smoothing();
            bottom: 0;
            margin: auto 0;
            white-space: nowrap;
            display: flex;
            align-items: center;
            transition: opacity .2s linear;

            @media(min-width: 1025px) {
                padding: 0 18px;
                position: absolute;
                left: calc(100% + 20px);
                top: 0;
                transform: translateX(-300%);
                opacity: 0;
                background: #F16222;
                font: 16px 'Roboto-Regular', sans-serif;
                color: #ffffff;

                &:before {
                    content: '';
                    width: 13px;
                    height: 13px;
                    background: inherit;
                    border-radius: 0 0 0 4px;
                    transform: rotate(45deg);
                    position: absolute;
                    left: -6px;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                }
            }

            @media(max-width: 1024px) {
                padding-left: 62px;
                font: 15px 'Roboto-Regular', sans-serif;
                color: #323232;
            }
        }
    }
}

.centr{
    display: flex;
}
