.header_controlls{
    position: relative;
    margin: 16px 0 0 96px;

    .radio-btn-group {
        display: flex;

        @mixin font-smoothing {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            backface-visibility: hidden;
        }
        
        .filtration__item-wrapper {
            box-sizing: border-box;
        
            @media(min-width: 1025px) {
                border-right: 1px solid #dedede;
        
                &:first-of-type {
        
                    .filtration__item-visualization {
                        border-radius: 4px 0 0 4px;
                    }
                }
        
                &:last-of-type {
                    border: none;
        
                    .filtration__item-visualization {
                        border-radius: 0 4px 4px 0;
                    }
                }
            }
        
            .filtration__item-btn {
                display: none;
        
                &:checked + .filtration__item-visualization {
                    background: #F16222;
                    color: #ffffff;
                }
            }
        
            .filtration__item-visualization {
                background: #ffffff;
                height: 34px;
                display: flex;
                align-items: center;
                cursor: pointer;
                font: 14px 'Roboto-Regular', sans-serif;
                color: #323232;
                @include font-smoothing();
                box-sizing: border-box;
                padding: 0 10px;
                user-select: none;
                transition: .2s linear;
                white-space: nowrap;
        
                @media(min-width: 1025px) {
                    &:hover {
                        background: #FAFAFA;
                    }
                }
        
                @media(max-width: 1024px) {
                    margin: 0 5px 5px 0;
                    border-radius: 4px;
                    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
                }
            }
        }
    }
    
    .calendar__btn {
        height: 34px;
        // width: 100%;
        padding: 0 10px 0 35px;
        box-sizing: border-box;
        border-radius: 4px;
        font: 14px 'Roboto-Regular', sans-serif;
        @include font-smoothing();
        display: flex;
        align-items: center;
        box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
        transition: .2s linear;
        cursor: pointer;
        white-space: nowrap;
        position: relative;
        user-select: none;
        z-index: 10;
        background: #fff;
        margin-left: 16px;
    
        &:before {
            content: '';
            background: url('/assets/img/calendar/calendar.svg') no-repeat center center;
            background-size: 15px 11px;
            background-color: inherit;
            height: 20px;
            width: 20px;
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
        }
    }
    
    .calendar__btn-val {
        margin: 0 5px;
    }
    
    // селект с боковым окном
    .window-select {
        font: 14px 'Roboto-Regular', sans-serif;
        color: #323232;
        @include font-smoothing();
        background: #ffffff;
        height: 34px;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 0 25px 0 10px;
        display: flex;
        align-items: center;
        box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
        position: relative;
        cursor: pointer;
        transition: .2s linear;
        user-select: none;
        will-change: transform;
        white-space: nowrap;
        margin-left: 16px;

        &:before {
            content: '';
            width: 10px;
            height: 5px;
            background: url('/assets/img/select/arrow.svg') no-repeat;
            background-size: 100%;
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            transform: rotate(90deg);
        }

        @media(min-width: 1025px) {
            &:hover {
                background: #FAFAFA;
            }
        }

        @media(max-width: 1024px) {
            width: 100%;
            margin-bottom: 12px;
        }
    }

}