.schedule{
    width: calc(100% - 470px);
    background: #fff;
    margin: 22px 0 0 15px;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);

    &__img{
        width: 487px;
        height: 401px;
        background: url('/assets/img/schedule/schedule.svg') 50% no-repeat;
        position: relative;
        margin-top: 28px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__img_canvas{
        width:550px;
        margin:30px auto;
    }

    &__buttons{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 25px 0 33px 0;

        &__input{
            display: none;

            &:checked + .schedule__buttons__item{
                border: 1px solid #F16222;
                background: #FFD6C3;
            }
        }

        &__item{
            height: 34px;
            display: flex;
            align-items: center;
            border: 1px solid #e7e7e7;
            border-radius: 3px;
            margin: 0 3px;
            padding: 0 15px;
            box-sizing: border-box;
            cursor: pointer;

            &-indicator{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 2px solid #fff;
                background: #F16222;
                margin-right: 5px;
            }

            &-text{
                font: 14px/16px 'Roboto-Regular', sans-serif;
            }
        }

        &_label{
            display:none;
        }
    }
}