.departments {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 110;
    background: rgba(0, 0, 0, .24);
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    &__content {
        width: 400px;
        height: 100%;
        background: #ffffff;
        box-sizing: border-box;
        padding-bottom: 28px;
        overflow: hidden;
        position: relative;
        z-index: 10;
    }

    &__close-bgr {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
    }
}

.departments-list {
    width: 420px;
    max-height: calc(100vh - 72px - 66px);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.departments-list__item {
    position: relative;

    .departments-list__item_close-list {
        position: absolute;
        height: 50px;
        width: 30px;
        background: url('/assets/img/select/arrow.svg') no-repeat center center;
        background-size: 12px 12px;
        background-position: calc(100% - 10px) center;
        z-index: 10;
        left: 0;
        top: 0;
        cursor: pointer;
        transition: .3s;

        &:not(.departments-list__item_close-list--clicked) {
            transform: rotateX(-180deg);
        }
    }

    &.departments-list__item--has-child {

        & > .departments-checkbox_title {
            &:after {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 8px;
                pointer-events: none;
                z-index: 10;
                opacity: .6;
                background: linear-gradient(to top, rgba(0,0,0,.0), rgba(0,0,0,.1));
            }
        }
    }
}


.search {
    width: 400px;
    position: relative;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        content: '';
        width: 13px;
        height: 13px;
        background: url('/assets/img/search/search.svg') no-repeat;
        background-size: 100%;
        position: absolute;
        top: 30px;
        left: 32px;
    }

    &__field {
        width: 368px;
        height: 40px;
        font: 14px 'Roboto-Regular', sans-serif;
        color: #323232;
        @include font-smoothing();
        outline: none;
        background: #F3F3F3;
        border-radius: 4px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0 15px 0 35px;
        border: 1px solid #F3F3F3;
        transition: .2s linear;

        &:focus {
            background: #ffffff;
            border-color: #E1E1E1;

            &::-webkit-input-placeholder {
                color: transparent;
            }
            &::-moz-placeholder {
                color: transparent;
            }
            &:-moz-placeholder {
                color: transparent;
            }
            &:-ms-input-placeholder {
                color: transparent;
            }
        }
    }
}



.select_value {
    font: 14px 'Roboto-Regular', sans-serif;
    color: #323232;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    width: calc(100% - 34px);
    padding: 0 30px 0 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: .2s linear;
    height: 34px;
    background: #fafafa;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    border-radius: 4px;
    margin: 0 17px 15px 17px;
    position: relative;

    @media(min-width: 1025px) {
        &:hover:not(.select_disabled) {
            background: #FAFAFA;
        }
    }
}

.select_checked{
    width: 100%;
    margin: 0;
    height: 50px;
    background: #fff;
    padding: 0 30px 0 30px;
    font: 14px 'Roboto-Bold', sans-serif;
    border-radius: 0;
}

.select_list {
    box-sizing: border-box;
    display: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
    background: #ffffff;
    width: 100%;

    &.select_open-list {
        display: block;
    }

    @media(min-width: 1025px) {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
    }

    @media(max-width: 1024px) {
        margin-top: 10px;
        width: 100%;
    }

    &-item {
        height: 40px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0 10px;
        font: 14px 'Roboto-Regular', sans-serif;
        color: #323232;
        @include font-smoothing();
        transition: .2s linear;
        border-bottom: 1px solid #E7E7E7;

        &:last-of-type {
            border: none;
        }

        &--active {
            background: #FAFAFA;
        }

        @media(min-width: 1025px) {

            &:hover:not(.select_list-item--active) {
                color: #F16222;
            }
        }
    }
}

.select_disabled {
    background: #E7E7E7;
    color: #ACACAC;
    cursor: default;
}

.select_marker {
    width: 10px;
    height: 5px;
    background: url('/assets/img/select/arrow.svg') no-repeat;
    background-size: 100%;
    position: absolute;
    right: 10px;
    top: 15px;
    transition: .2s linear;
    transform: rotateX(180deg);

    &.select_open-marker {
        transform: rotate(0);
    }
}

.select_checked_marker{
    top: 23px;
    left: 15px;
}

.select_checked_input{
    top: 16px;
    right: 30px;
    position: absolute;
    display: none;

    &:checked{ 
        &+ .input__background{
            background: #E98020;
            border: 1px solid #ffff;
        }
    }
}

.input__background{
    top: 14px;
    right: 15px;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #ACACAC;
    border-radius: 4px;
    background: #fff;
    transition: background .2s linear;

    &__tick{
        position: relative;
        top: 5px;
        left: 4px;
    }
}



.departments-checkbox {
    background: #ffffff !important;
    justify-content: space-between;
    padding-right: 16px;
    flex-direction: row-reverse;
    transition: .2s linear;

    &.checkbox-dont-touch {
        pointer-events: none;
    }

    &:hover {
        background: #f3f1f1 !important;
    }

    &:not(.departments-checkbox_title) {
        padding-left: 45px !important;
    }

    &__content {

        &:checked {

            & + .departments-checkbox__visualization:not(.checkbox__visualisation--all):not(.checkbox__visualisation--not-all) {
                background: #F97439 !important;
                border-color: #F97439 !important;
            }

            & + .departments-checkbox__visualization {
                &.checkbox__visualisation--all {
                    background: #F97439 !important;
                    border-color: #F97439 !important;
                }
                &.checkbox__visualisation--not-all {
                    background: #e4a68b !important;
                    border-color: #e4a68b !important;
                }
            }
        }
    }

    &__visualization {
        margin: 0 !important;
    }

    &__circle {
        background: #F97439 !important;
    }
}

.department-controls {
    background: inherit;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 8px 8px 0 0 !important;
    justify-content: flex-end !important;
    z-index: 10;
}

.controls__btn_default {
    margin-right: 10px !important;
}

.sort-btns {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 16px 6px;
    border-bottom: 1px solid #E1E1E1;

    &__item {
        border-radius: 100px;
        height: 30px;
        font: 14px 'Roboto-Regular', sans-serif;
        cursor: pointer;
        margin-bottom: 8px;
        box-sizing: border-box;
        user-select: none;
        overflow: hidden;
        position: relative;

        &-label {
            display: flex;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-radius: inherit;

            &-field {
                display: none;

                &:checked + .sort-btns__item-label-mark {
                    color: #fff;
                    background: #F97439;
                }
            }

            &-mark {
                height: 100%;
                width: 100%;
                padding: 0 8px;
                border: 1px solid #E1E1E1;
                color: #323232;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                border-radius: inherit;
                cursor: pointer;
            }
        }

        &:not(:last-of-type) {
            margin-right: 7px;
        }
    }
}


.controls {
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 18px;
    box-shadow: -1px 0 6px rgba(0, 0, 0, .2);
    border-radius: 8px;
    user-select: none;

    &__btn {
        height: 34px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0 10px;
        font: 14px 'Roboto-Regular', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        backface-visibility: hidden;
        cursor: pointer;
        transition: .2s linear;

        &_ready {
            background: #F16222;
            color: #ffffff;

            &:hover {
                background: #DB5B22;
            }
        }

        &_default {
            color: #777777;

            &:hover {
                background: #F6F6F6;
            }
        }
    }
}
