.snippet-left{
    width: 337px;
    height: 461px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
    position: relative;
    margin: 22px 0 0 96px;

    &__capacity{
        padding: 20px;
        border-bottom: 1px solid #f3f3f3;

        &__indicator{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #0DCE94;
            display: inline-block;
        }

        &__speed{
            font: 14px/16px 'Roboto-Regular', sans-serif;
            margin-left: 8px;
        }

        &__rate{
            font: 14px/16px 'Roboto-Regular', sans-serif;
            color: rgba(50, 50, 50, 0.6);
            margin-left: 8px;            
        }
    }

    &__product{
        padding: 20px;
        border-bottom: 1px solid #f3f3f3;

        &__procent{
            font: 14px/16px 'Roboto-Regular', sans-serif;
            margin-top: 8px;
        }

        &__address{
            font: 14px/16px 'Roboto-Regular', sans-serif;
            color: rgba(50, 50, 50, 0.6);
            margin: 8px 0 0 0;
        }
    }

    &__title{
        font: 13px/15px 'Roboto-Regular', sans-serif;
        color: rgba(0, 0, 0, .4);
        padding-bottom: 10px;
        width: 138px;
    }

    &__wrapper{
        margin-left: 20px;
    }

    &__delivery{
        display: flex;
        padding: 20px 20px 20px 0;

        &__time{
            font: 14px/16px 'Roboto-Regular', sans-serif;
            color: rgba(50, 50, 50, 0.6);
        }
    }

    &__wrap-speed{
        padding: 8px 0 20px 0;
        border-top: 1px solid #f3f3f3;
    }

    .delivery{
        padding: 12px 0 0 0;
    }
}