.table-product{
    width: calc(100% - 118px);
    margin: 18px 0 37px 96px;
    background: #fff;
    border-radius: 3px;

    &__header{
        display: flex;
        border-bottom: 1px solid #f3f3f3;
        height: 52px;
        justify-content: space-between;

        &__input{
            display: none;

            &:checked + .table-product__header__item{
                color: #E98020;

                &:after{
                    background: url('/assets/img/table-product/filter-active.svg')no-repeat;
                }
            }
        }

        &__item{
            font: 14px/16px 'Roboto-Regular', sans-serif;
            color: rgba(50,50,50,.6);
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;

            &.item-1{
                &:after{
                    display: none;
                }
            }

            &:after{
                content: '';
                width: 12px;
                height: 7px;
                position: relative;
                background: url('/assets/img/table-product/filter.svg')no-repeat;
                margin-left: 2px;
            }
        }

        .city{
            width: 161px;
            margin-left: 46px;
        }

        .productivity{
            width: 153px;
        }

        .product{
            width: 120px;
        }

        .service{
            width: 120px;
        }

        .delivery{
            width: 150px;
        }

        .desk{
            width: 150px;
            margin-right: 10px;
        }
    }

    &__list{
        width: 100%;
       
        &__item{
            width: 100%;
            height: 76px;
            border-bottom: 1px solid #f3f3f3;
            display: flex;
            justify-content: space-between;
            position: relative;
        }

        &__label{
            width: 46px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        &__input{
            display: none;

            &:checked + .table-product__list__wrap{

                .table-product__list__border{
                    background: #E18A23;
                }

                .table-product__list__checked{
                    background: #E18A23;
                    border: 1px solid #fff;
                }
            }
        }

        &__wrap{
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__border{
            height: 100%;
            width: 7px;
            position: absolute;
            left: 0;
            top: 0;
            background: #fff;
        }

        &__checked{
           width: 18px;
           height: 18px;
           border: 1px solid #dedede; 
           cursor: pointer;
           display: flex;
           justify-content: center;
           align-items: center;
           background: #fff;
        }

        &__text{
            width: 161px;
            height: 100%;
            display: flex;
            align-items: center;
            font: 14px/16px 'Roboto-Regular', sans-serif;
            margin-left: 46px;
        }

        .productivity{
            width: 153px;
        }

        .product{
            width: 120px;
        }

        .service{
            width: 120px;
        }

        .delivery{
            width: 150px;
        }

        .desk{
            width: 150px;
            margin-right: 10px;
        }

        &__wrapper-header{
            margin-top: 15px;
        }

        &__wrapper-text{
            font: 14px/16px 'Roboto-Regular', sans-serif;
        }

        &__wrapper-time{
            font: 14px/16px 'Roboto-Regular', sans-serif;
            color: rgba(50,50,50,.6);
        }

        &__rate{
            font: 14px/16px 'Roboto-Regular', sans-serif;
            color: rgba(50,50,50,.6);
            margin-top: 5px;

            &-m{
                margin-left: 16px;
            }
        }

        &__indicator{
            width: 10px;
            height: 10px;
            display: inline-block;
            background: #0DCE94;
            border-radius: 50%;
            margin-right: 3px;
        }
    }
}