@import 'modules/reset';
@import 'modules/fonts';
@import 'modules/commons';
@import 'dashbord/dashbord';
@import 'dashbord/header';
@import 'dashbord/select-form';
@import 'dashbord/snippet-left';
@import 'dashbord/schedule';
@import 'dashbord/table-product';


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f3f3f3;
}

.locked {
    overflow: hidden;
}
